@import "../vars.scss";

.sidebar {
    background: $gray-dark-1;
    color: #fff;
    flex: 0 0 18%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .side-nav {
        font-size: 1.4rem;
        list-style: none;
        margin-top: 3.5rem;
        position: sticky;
        top: 3.5rem;

        &__item {
            position: relative;
            z-index: 100;

            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 3px;
                background: $primary;
                transform: scaleY(0);
                transition: transform .2s,
                    width .4s cubic-bezier(1, 0, 0, 1) .2s,
                    background .1s;
                z-index: -1;
            }

            &:hover::before {
                transform: scaleY(1);
                width: 100%;
            }
        }

        &__link span{
            margin-left: 2rem;
        }

        &__link:link,
        &__link:visited {
            color: $gray-light-1;
            text-transform: uppercase;
            padding: 1.5rem 3rem;

            display: flex;
            align-items: center;
        }

        @media only screen and (max-width: $md) {
            position: relative;
            top: auto;
            display: flex;
            margin: 0;

            &__item {
                flex: 1;
                &:not(:last-child) {
                    margin: 0;
                }
            }

            &__link:link,
            &__link:visited {
                justify-content: center;
                padding: 2rem;
            }
        }

        @media only screen and (max-width: $sm) {
            &__link:link,
            &__link:visited {
                flex-direction: column;
                padding: 1rem;

                span {
                    margin-top: .7rem;
                    margin-left: 0;
                    word-wrap: break-word;
                }
            }
        }
    }

    // copy right

    .copy-right {
        font-size: 1.2rem;
        padding: 2.5rem;
        text-align: center;
        color: $gray-light-4;

        @media only screen and (max-width: $md) {
            display: none;
        }
    }
    
    @media only screen and (max-width: $md) {
        top: 0;
        position: sticky;
        background: rgba(0, 0, 0, 0.651);
        backdrop-filter: blur(6px);
        z-index: 9999;
    }
}

.actived {
    background-color: $primary-light;
    height: 100%;
}