$primary: #eb3f64;
$primary-light: #ff3366;
$primary-dark: #ba265d;

$gray-light-1: #faf9f9;
$gray-light-2: #f4f2f2;
$gray-light-3: #f0eeee;
$gray-light-4: #ccc;

$gray-dark-1: #333;
$gray-dark-2: #777;
$gray-dark-3: #999;

$shadow-dark: 0 2rem 6rem rgba($color: #000000, $alpha: .3);